SPRING_PROFILES_ACTIVE=local

# MySQL
MYSQL_URL=jdbc:mysql://localhost:3306/itplace?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
MYSQL_USERNAME=root
MYSQL_PASSWORD=

# Redis
REDIS_HOST=localhost
REDIS_PASSWORD=

# MongoDB
MONGODB_URI=mongodb://root:@localhost:27017/itplace

# JWT
JWT_SECRET=

# OpenAI
OPENAI_API_KEY=
OPENAI_ORGANIZATION_ID=

# Kakao OAuth
KAKAO_REDIRECT_URI=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# Mail
MAIL_USERNAME=
MAIL_PASSWORD=

# Elasticsearch
ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

# CoolSMS
COOLSMS_API_KEY=
COOLSMS_API_SECRET=
COOLSMS_FROM_PHONE=

# Google reCAPTCHA
GOOGLE_RECAPTCHA_SECRET=
